body {
    font-family: Arial;
    background: #f2f2f2;
}

form {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 12px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
}
